###############################
###### REQUIRED ENV VARS ######
###############################

# Uncomment for local development
# NODE_ENV="development"
# NEXT_PUBLIC_VERCEL_ENV="development"

NEXT_PUBLIC_APP_NAME=Virtbase

# For local development use virtbase.localhost
# NEXT_PUBLIC_APP_DOMAIN=virtbase.localhost
NEXT_PUBLIC_APP_DOMAIN=virtbase.com

# Generate a random secret here: https://generate-secret.vercel.app/32
BETTER_AUTH_SECRET=

# PostgreSQL Database via Neon
DATABASE_URL="postgresql://postgres:password@db.localtest.me:5432/virtbase"

# Upstash Redis – required for Redis caching
# Get your Redis REST URL and Token here: https://upstash.com/docs/redis/overall/getstarted
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# Required for email sending
# Get your Resend API Key here: https://resend.com/api-keys
RESEND_API_KEY=

# SMTP configuration (Recommended for local development)
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER=smtpUser
SMTP_PASSWORD=smtpPassword

# Lexware Office for creating invoices
# Refer to the documentation here: https://developers.lexware.io/docs/#lexware-api-documentation
LEXWARE_API_KEY=

# Stripe for payment processing
STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=

# Secret for cron jobs
# Generate a random secret here: https://generate-secret.vercel.app/32
CRON_SECRET=

# noVNC proxy
# See packages/novnc-proxy for more information
NOVNC_PROXY_URL=
NOVNC_PROXY_SECRET=

# PowerDNS for reverse DNS management
POWERDNS_API_URL=
POWERDNS_API_KEY=

###############################
###### OPTIONAL ENV VARS ######
###############################

# Used for Discord Login
# Learn how to set this up here: https://better-auth.com/docs/authentication/discord
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# Used for GitHub Login
# Learn how to set this up here: https://better-auth.com/docs/authentication/github
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Used for Google Login
# Learn how to set this up here: https://better-auth.com/docs/authentication/google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Sentry for error tracking
# Learn how to set this up here: https://docs.sentry.io/platforms/javascript/guides/nextjs/
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_ORG=
SENTRY_PROJECT=
SENTRY_URL=
